In [1]:
# import libraries/modules

import os
import pandas as pd 
import numpy as np

In [2]:
# find location where csv files are saved

pwd

'C:\\Users\\ellab\\Desktop\\Class Repo\\RUTSOM201801DATA5-Class-Repository-DATA\\04-Pandas\\2-homework\\Instructions\\PyCitySchools\\raw_data'

In [3]:
# Point files to path directory 

file_1="schools_complete.csv"
file_2="students_complete.csv"

In [4]:
# Open files using pandas read_csv

schools_df=pd.read_csv(file_1)
students_df=pd.read_csv(file_2)

In [11]:
# Display  School DataFrames Created using head()

schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [12]:
# Display Student DataFrames Created using head()

students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [74]:
# Finding number of different schools
Total_schools=len(schools_df["name"].unique())
Total_schools

15

In [62]:
# Finding number of students
Total_Students=len(students_df["name"])
Total_Students

39170

In [78]:
# Finding schools' total budget
Total_Budget=schools_df["budget"].sum()
Total_Budget

24649428

In [80]:
# Finding students' average math score
M_Mean=students_df["math_score"].mean()
M_Mean

78.98537145774827

In [81]:
# Finding student's average reading score
R_Mean=students_df["reading_score"].mean()
R_Mean

81.87784018381414

In [65]:
# Making sure none of the rows are empty/missing information
students_df.count()

Student ID       39170
name             39170
gender           39170
grade            39170
school           39170
reading_score    39170
math_score       39170
dtype: int64

In [70]:
# Percent of students passing Math 
Passing_Math_Grade=students_df.loc[students_df["math_score"]>=60,:]
Passing_M_Students=len(Passing_Math_Grade["math_score"])
a=(Passing_M_Students/Total_Students)*100
a

92.4457492979321

In [71]:
# Percent of students passing Reading 
Passing_Reading_Grades=students_df.loc[students_df["reading_score"]>=60,:]
Passing_R_Students=len(Passing_Reading_Grades["reading_score"])
b=(Passing_R_Students/Total_Students)*100
b

100.0

In [73]:
# Overall Passing Rate
c=(a+b)/2
c

96.22287464896604

In [82]:
# Create Data Frame from List of Dictionary 
=[{"Total Schools":Total_schools,"Total Students":Total_Students, "Total Budget":Total_Budget, "Average Math Score":M_Mean, "Average Reading Score":R_Mean, "% Passing Math":a, "% Passing Reading":b, "Overall Passing Rate":c}]
pd.DataFrame(District_Summary)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,92.445749,100.0,78.985371,81.87784,96.222875,24649428,15,39170

In [152]:
# Re-named the columns of schools_df
schools_df_2=schools_df.rename(columns={'name':'School Name','type':'School Type', 'size':'Total Students','budget':'Total School Budget'})

# Deleted School I.D
del schools_df_2['School ID']

(schools_df_2)

              School Name School Type  Total Students  Total School Budget
0       Huang High School    District            2917              1910635
1    Figueroa High School    District            2949              1884411
2     Shelton High School     Charter            1761              1056600
3   Hernandez High School    District            4635              3022020
4     Griffin High School     Charter            1468               917500
5      Wilson High School     Charter            2283              1319574
6     Cabrera High School     Charter            1858              1081356
7      Bailey High School    District            4976              3124928
8      Holden High School     Charter             427               248087
9        Pena High School     Charter             962               585858
10     Wright High School     Charter            1800              1049400
11  Rodriguez High School    District            3999              2547363
12    Johnson High School    District            4761              3094650
13       Ford High School    District            2739              1763916
14     Thomas High School     Charter            1635              1043130

In [180]:
# Calculated new column for Student Budget
Student_Budget=schools_df_2["Total School Budget"]/schools_df_2["Total Students"]

# Put Per Student Budget in Data Frame
Per_Student_Budget=pd.DataFrame(Student_Budget)
Per_Student_Budget

# Appended New Per Student Budget to Schools_df_2 dataframe
schools_df_2["Per Student Budget"]=Per_Student_Budget
schools_df_2

,School Name,School Type,Total Students,Total School Budget,Per Student Budget
0,Huang High School,District,2917,1910635,655.0
1,Figueroa High School,District,2949,1884411,639.0
2,Shelton High School,Charter,1761,1056600,600.0
3,Hernandez High School,District,4635,3022020,652.0
4,Griffin High School,Charter,1468,917500,625.0
5,Wilson High School,Charter,2283,1319574,578.0
6,Cabrera High School,Charter,1858,1081356,582.0
7,Bailey High School,District,4976,3124928,628.0
8,Holden High School,Charter,427,248087,581.0
9,Pena High School,Charter,962,585858,609.0
10,Wright High School,Charter,1800,1049400,583.0
11,Rodriguez High School,District,3999,2547363,637.0
12,Johnson High School,District,4761,3094650,650.0
13,Ford High School,District,2739,1763916,644.0
14,Thomas High School,Charter,1635,1043130,638.0

In [182]:
students_df.head(200)

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
170,170,James Combs,M,10th,Huang High School,65,82
171,171,Curtis Garner,M,10th,Huang High School,79,78
172,172,Sarah Miller,F,10th,Huang High School,94,71
173,173,Samantha Thomas,F,10th,Huang High School,92,62
174,174,Robert Atkins,M,9th,Huang High School,85,97
175,175,Alexis Crawford,M,10th,Huang High School,70,82
176,176,Ryan Maddox,M,11th,Huang High School,80,80
177,177,Jonathan Meyer,M,9th,Huang High School,65,79
178,178,Donna Wagner,F,10th,Huang High School,95,61
179,179,William Kennedy,M,11th,Huang High School,76,56
180,180,Kimberly Martinez,F,11th,Huang High School,84,83
181,181,Matthew Anderson,M,11th,Huang High School,92,99
182,182,Kari Miller,F,9th,Huang High School,88,55
183,183,Jenna Luna,F,9th,Huang High School,73,91
184,184,Justin Contreras,M,12th,Huang High School,89,63
185,185,Mary Fox,F,11th,Huang High School,94,92
186,186,Joseph Perkins,M,10th,Huang High School,96,76
187,187,Kelly Phillips,F,12th,Huang High School,78,90
188,188,Justin Thornton,M,11th,Huang High School,65,61
189,189,Joshua Barber,M,10th,Huang High School,77,61
190,190,Travis Jackson,M,11th,Huang High School,86,96
191,191,Jordan Beasley,F,10th,Huang High School,96,59
192,192,Kevin Allen,M,12th,Huang High School,68,63
193,193,Victoria Harris,F,11th,Huang High School,89,59
194,194,Victoria Joseph,F,12th,Huang High School,72,56
195,195,Brandy Marshall,F,11th,Huang High School,86,60
196,196,Ryan Jimenez,M,11th,Huang High School,63,89
197,197,Michael Chan,M,9th,Huang High School,63,69
198,198,Christopher Phillips,M,9th,Huang High School,86,55
199,199,Kevin Murphy,M,10th,Huang High School,85,99